.test-ctn {
  padding: 40px;
}

.instructions {
  margin-bottom: 40px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.col {
  margin-right: 40px;
  margin-bottom: 40px;

  &:last-of-type {
    margin-right: 0;
    margin-bottom: 0;
  }
}

h6 {
  margin-top: 0;
  margin-bottom: 10px;
}

.reorderable-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.reorderable-item,
.reorderable-placeholder {
  background-color: #4fc3f7;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 200px;
  color: white;
  cursor: move;
  border: 1px solid transparent;

  &.is-dragging {
    position: fixed;
    margin: 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }
}

.reorderable-item.alt-style {
  background-color: #00e676;
}

.reorderable-placeholder {
  border: 1px dashed black;
  background-color: transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.characters {
  list-style: none;
  padding-left: 0;
}

.characters li {
  display: flex;
  align-items: center;
  border: solid 2px #d0d0d0;
  border-radius: 0.2em;
  padding: 0.5em 0.8em 0.5em 0.5em;
  margin-bottom: 1em;
}

.characters p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}

.characters-thumb {
  overflow: hidden;
  flex-shrink: 0;
  width: 4em;
  height: 4em;
  background-color: #e8e8e8;
  padding: 0.5em;
  margin-right: 0.5em;
}

.characters-thumb img {
  display: block;
  width: 100%;
  height: auto;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
}

.file-input label {
  width: 100%;
  max-width: 150px;
	padding-left: 16px;
	display: flex;
	align-items: center;
	cursor: pointer;
  color: rgb(0, 0, 0);

	
	&:active {
		background-color: red;
	}
  .uploudImg_text {
    font-size: 14px;
    width: 40px;
    margin-left: 10px;
  }
}
