// Input File

.file-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
}

.file-input label {
  width: 100%;
  max-width: 150px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  background-color: rgb(40, 92, 214);
  color: #fff;

  &:hover {
    background-color: #2f5699;
  }

  &:active {
    background-color: #1f4382;
  }
  .uploudImg_text {
    font-size: 14px;
    width: 40px;
    margin-left: 10px;
  }
}

// Droppable

.characters {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.characters-div {
  display: flex;
  align-items: center;
}

.characters li {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px #1f4382;
  border-radius: 0.2em;
  padding: 0.5em 0.8em 0.5em 0.5em;
  margin-bottom: 1em;
  border-radius: 6px;
}

.characters p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}

.characters button {
  padding: 4px 10px;
  color: #fff;
  border-radius: 6px;
  border: solid 1px #2f5699;
  background-color: #2f5699;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: #1f4382;
  }

  &:active {
    background-color: #0d2e68;
  }
}

.characters-thumb {
  overflow: hidden;
  flex-shrink: 0;
  width: 4em;
  height: 4em;
  padding: 0.5em;
  margin-right: 0.5em;
}

.characters-thumb img {
  display: block;
  width: 100%;
  height: auto;
}
